{% extends "base.html" %}

{% block content %}
    <h1>User List</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.new_user() }}</p>
    </form>
    <h2>Users:</h2>
    <form action="" method="post">
        <ul>
            {% for user in user_list %}
            <li><input type="checkbox" name="{{ user.username }}">{{ user.username }}
                {% if user.permissions == 0 %}
                (<i>Admin</i>)
                {% endif %}</li>
            {% endfor %}
        </ul>
        {{ form.hidden_tag() }}
        <p>{{ form.clear_all() }} {{ form.clear_selected() }}</p>
    </form>
{% endblock %}